<p id="notice"><%= notice %></p>

<p>
  <strong>Clase:</strong>
  <%= @class_vehicle.clase %>
</p>

<%= link_to 'Edit', edit_class_vehicle_path(@class_vehicle) %> |
<%= link_to 'Back', class_vehicles_path %>
