<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo documento:</strong>
  <%= @document.tipo_documento %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
