<p id="notice"><%= notice %></p>

<p>
  <strong>Nom aseguradora:</strong>
  <%= @insurer.nom_aseguradora %>
</p>

<%= link_to 'Edit', edit_insurer_path(@insurer) %> |
<%= link_to 'Back', insurers_path %>
