<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo seguro:</strong>
  <%= @type_insurer.tipo_seguro %>
</p>

<%= link_to 'Edit', edit_type_insurer_path(@type_insurer) %> |
<%= link_to 'Back', type_insurers_path %>
