<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1>
        <%= link_to "Cars-Ok", '#' %>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <% if user_signed_in? %>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %></li>
      </ul>
        <ul class="left">
             <%= render 'layouts/navigation_links' %>
        </ul>
    </section>
  <% else %>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><%= link_to 'Iniciar Sesión', new_user_session_path %></li>
      </ul>
    </section>

  <% end %>
</nav>
